
*{
 box-sizing: border-box;
}

span{
    color:skyblue
}

h1{
    margin-bottom: 5px;
   font-size: 40px;
 }


h5, h4, h3, h2 {
    margin: 0%;
   color:gray;
}

   
#header{
	width: 100%;
	height: 150px;
	background-image: url("img/pattern.png");
	background-size: 40%;
    background-repeat:repeat-x ;
	background-color: #4ea0ff ;
}


#logo {
    width: 400px;
    padding: 80px 10px 0px 200px;
}


.main-img{
    margin-top: 10px;
    width: 45%;
    height: 330px;
}


.wrapper{
    width: 1100px;
    margin:auto;
}



.tabella {
    table-layout : fixed;
    width : 100%;
    padding: 30px;
    caption-side : top;
    border-collapse: collapse;
}

    tr:first-child {
        color: white;;
        background-color:  #4ea0ff;
      }
    tr:nth-child(even) {
        background: lightblue;
      }
   

.frame1 {
        
        width: 250px;
        height: 200px;
        background-image: url("img/monitor.jpg");
        background-size: 100%;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
 }

  
.frame2 {
        width: 250px;
        height: 200px;
        background-image: url("img/graph.jpg");
        background-size: 100%;
        padding: 10px;
        margin-bottom: 10px;
}


footer{
        padding-top: 25px;
        color:white;
        font-size: 25px;
}

  